.sky{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.sky span{
    position: absolute;
    /* width: 4px;
    height: 4px; */
    background: white;
    border-radius: 50%;
    opacity: .8;
}
