
.cursordot{
  position: fixed;
  top:0;
  left: 0;
  /* width: 10px;
  height: 10px; */
  /* background-color: black; */
  /* border: 1px solid black; */
  z-index: 10000;
  /* transform: translate(-50%,-50%); */
  pointer-events: none;
  
}
