/* .login-container {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.login-wrapper {
  position: absolute;
  width: 700px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.116);
  border-radius: 20px;
  box-shadow: 2px 10px 100px 60px rgba(255, 255, 255, 0.055);
}
.login-wrapper h1 {
  font-family: "Title Font";
  color: white;
}

.login-wrapper input {
  width: 300px;
  height: 20px;
  border: none;
  color: white;
  border-bottom: 2px solid white;
  font-family: 'Poppins Font_regular';
  font-size: 1rem;

  background: transparent;
}
.login-wrapper input:focus{
  outline:none;

}
#login-btn{
    position: relative;
  font-family: "Poppins Font_medium";
  width: 300px;
  font-size: 1rem;
  margin-top: 40px;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  overflow: hidden;
  z-index: 1;
  
}
#login-btn::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s ease;
    z-index: -1;
}
#login-btn:hover::before{
    transform: scaleX(1);
}
#login-btn:hover{
    border: 1px solid black;
  color: black;

} */
