.Navbar {
  position: fixed;
  top: 0;
  margin-top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  background: transparent;
  align-items: center;
  z-index: 9999;
}
.Navbar h1 {
  margin: 0;
  font-family: "Title Font";
  padding-left: 20px;
  color: rgb(160, 160, 160);
}

#share-button {
  position: relative;
  font-family: "DynaPuff Font_regular";
  font-size: 1rem;
  background-color: #c7144d;
  /* border: 1px solid #ff2a6d; */
  border: none;
  color: #fff;
  width: 100px;
  border-radius: 20px;
  height: 40px;
  overflow: hidden;
  z-index: 1;
  margin-right: 20px;
  letter-spacing: 2px;
  z-index: 0;
  overflow: visible;
}
#share-button::before {
  content: "";
  position: absolute;
  background-color: black;
  inset: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  border-radius: inherit;
}
#share-button:hover::before {
  transform: scaleX(1);
}

/* Outer border */
#share-button::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;
  /* border: 2px solid #ff2a6d; */
  z-index: -1;
}

#share-button:hover {
  color: #12bfc8;
  transition: all 300ms ease-in-out;
  box-shadow:
    0 0 10px #ff2a6d,
    0 0 17px #ff2a6d,
    inset 0 0 18px #ff2a6d;
}
