.Navbar {
  position: fixed;
  top: 0;
  margin-top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  background: transparent;
  align-items: center;
  z-index: 9999;
}
.Navbar h1 {
  margin: 0;
  font-family: "Title Font";
  padding-left: 20px;
  color: rgb(160, 160, 160);
}

#share-button {
  position: relative;
  font-family: "Poppins Font_medium";
  font-size: 1rem;
  background-color: rgb(0, 41, 48);
  border: 1px solid black;
  color: white;
  width: 100px;
  border-radius: 10px;
  height: 40px;
  overflow: hidden;
  z-index: 1;
  margin-right: 20px;
  letter-spacing: 2px;
}
#share-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: -1;
}
#share-button:hover::before {
  transform: scaleX(1);
}
#share-button:hover {
  color: black;
}
