.session-container{
    position: fixed;
    z-index: 100;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

}
.Session-overlay{
  display: flex;
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: black;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(255, 255, 255, 0.116);
  border-radius: 20px;
  box-shadow: 2px 10px  100px 60px rgba(255, 255, 255, 0.055);
  
}
.Session-overlay h1{
  font-family: "Title Font";
  margin: 0;
  margin-top: 20px;
  color: white;
  margin-bottom: 40px;
  position: relative;
}
#session-button{
    position: relative;
  font-family: "Poppins Font_medium";
  width: 150px;
  font-size: 1rem;
  margin-top: 40px;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: 1px solid white;
  background-color: black;
  color: white;
  overflow: hidden;
  z-index: 1;
  
}
#session-button::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s ease;
    z-index: -1;
}
#session-button:hover::before{
    transform: scaleX(1);
}
#session-button:hover{
    border: 1px solid black;
  color: black;

}
