.tool-wrapper{
    background-color: transparent;
    width: 20vw;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-left: 5px;

}
#rect-btn{
    background-position: center;
    background-size: cover;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    border-radius: 1px;
    border: 1px solid white;
}
#rect-btn::before{
    content: '';
    inset:  inherit;
    position: absolute;
    border: 2px solid black;
    width: 15px;
    height: 10px;
    
}
#rect-btn:hover{
    background-color: rgb(255, 209, 209);
    border-radius: 10px;
}
#rect-btn.active-rect{
    background-color: rgb(252, 168, 168);
    border-radius: 10px;
}

#circ-btn{
    background-position: center;
    background-size: cover;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}
#circ-btn::before{
    content: '';
    inset:  inherit;
    position: absolute;
    border: 2px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
#circ-btn:hover{
    background-color: rgb(255, 209, 209);
    border-radius: 50%;
}
#circ-btn.active-circ{
    background-color: rgb(252, 168, 168);
    border-radius: 50%;
}
#arrow-btn{
    background-position: center;
    background-size: cover;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid white;
}
#arrow-btn::before{
    content: '';
    inset:  inherit;
    position: absolute;
    border: 2px solid black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
#arrow-btn:hover{
    background-color: rgb(255, 209, 209);
    border-radius: 50%;
}
#arrow-btn.active-circ{
    background-color: rgb(252, 168, 168);
    border-radius: 50%;
}