.tool-wrapper {
  background-color: #1c1f24;
  height: 50px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
}
#hand-btn {
  background: url("/src/assets/SVG/hand.svg");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}
#hand-btn svg {
  width: 40px;
  height: 40px;
}

#hand-btn:hover {
  background-color: #272a31;
  border-radius: 5px;
}
#hand-btn.active-hand {
  background: url("/src/assets/SVG/active_hand.svg");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-color: #ff2a6d;
  border-radius: 10px;
}
#selection-btn {
  background: url("/src/assets/SVG/selection.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}
#selection-btn svg {
  width: 40px;
  height: 40px;
}

#selection-btn:hover {
  background-color: #272a31;
  border-radius: 5px;
}
#selection-btn.active-selection {
  background-color: #ff2a6d;
  border-radius: 5px;
}
#rect-btn {
  background: url("/src/assets/SVG/rectangle.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}

#rect-btn:hover {
  background-color: #272a31;
  border-radius: 5px;
}
#rect-btn.active-rect {
  background: url("/src/assets/SVG/active_rectangle.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: #ff2a6d;
  border-radius: 10px;
}

#circ-btn {
  background: url("/src/assets/SVG/circle.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}
#circ-btn:hover {
  background-color: #272a31;
  border-radius: 5px;
}
#circ-btn.active-circ {
  background: url("/src/assets/SVG/acitve_circle.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: #ff2a6d;
  border-radius: 10px;
}
#arrow-btn {
  background: url("/src/assets/SVG/arrow.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}

#arrow-btn:hover {
  background-color: #272a31;
  border-radius: 5px;
}
#arrow-btn.active-arrow {
  background-color: #ff2a6d;
  border-radius: 5px;
}
#pencil-btn {
  background: url("/src/assets/SVG/pencil.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}

#pencil-btn:hover {
  background-color: #272a31;
  border-radius: 5px;
}
#pencil-btn.active-pencil {
  background: url("/src/assets/SVG/activee_pencil.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: #ff2a6d;
  border: 1px solid rgb(107, 106, 106);
  border-radius: 5px;
}
#eraser-btn {
  background: url("/src/assets/SVG/eraser.svg");
  background-position: center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
}

#eraser-btn:hover {
  background-color: #272a32;
  border-radius: 5px;
}
#eraser-btn.active-eraser {
  background: url("/src/assets/SVG/active_eraser.svg");
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-color: #ff2a6d;
  border-radius: 5px;
}
#image-btn {
  background: url("/src/assets/SVG/image.svg");
  background-position: center;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  height: 40px;
  border-radius: 5px;
}

#image-btn:hover {
  background-color: #272a32;
  border-radius: 5px;
}
#image-btn.active-eraser {
  background: url("/src/assets/SVG/active_image.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  border-radius: 5px;
}
